<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>Vue</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <h3>완료된 할일</h3>
    <!-- v-if가 v-for보다 우선순위가 높아서 접근 불가 이거는 computed러 계산된 목록을 돌리면 된다! -->
    <!-- <ul>
      <li v-for="todo in todos" :key="todos.id" v-if="todo.isComplete === true">
        {{todo.name}}
      </li>
    </ul> -->

    <ul>
      <li v-for="todo in completeTodos" :key="todo.in">
        {{todo.name}}
      </li>
    </ul>

    <h3>미완료된 할일</h3>
    <ul>
      <template v-for="todo in todos" :key="todo.id">
        <li v-id="!todo.isComplete">
          {{todo.name}}
        </li>
      </template>

    </ul>

  </div>

  <script>
    const { createApp, ref, computed } = Vue;

    const app = createApp({
      setup() {
        let id = 0;

        const todos = ref([
          { id: id++, name: "복습", isComplete: true },
          { id: id++, name: "예습", isComplete: false },
          { id: id++, name: "저녁식사", isComplete: true },
          { id: id++, name: "노래방", isComplete: false },
        ]);

        const completeTodos = computed(() => {
          // isComplete 가 true인애들만 반환하자
          return todos.value.filter((todo) => todo.isComplete)
        })

        return {
          todos,
          completeTodos,
        };
      },
    });
    app.mount("#app");
  </script>
</body>

</html>