<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.BoardDao">
    <!-- 전체게시글조회 -->
    <select id="selectAll" resultType="Board">
        <!-- *로 퉁치고싶은데 ㅠ -->
        SELECT id, title, writer, content, reg_date as regDate, view_cnt as
        viewCnt
        FROM board;
    </select>

    <!-- 상세게시글조회 -->
    <select id="selectOne" resultType="Board" parameterType="int">
        SELECT *
        FROM board
        WHERE id= #{id};
    </select>
    
    <!-- 게시글등록 -->
    <insert id="insertBoard" parameterType="Board" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO board (title, writer, content)
        VALUES (#{title}, #{writer}, #{content});
    </insert>

    <!-- 게시글수정 -->
    <update id="updateBoard" parameterType="Board">
        UPDATE board
        SET title = #{title}, content=#{content}
        WHERE id = #{id};
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board
        WHERE id = #{id};
    </delete>

    <!-- 조회수 증가 -->
    <update id="updateViewCnt" parameterType="int">
        UPDATE board
        SET view_cnt = view_cnt+1
        WHERE id = #{id};
    </update>

    <!-- 검색 기능 -->
    <select id="search" parameterType="SearchCondition" resultType="Board">
        SELECT * FROM board
        <!-- 검색 조건이 있다라면! -->
        <if test="key != 'none'">
            WHERE ${key} LIKE concat('%', #{word}, '%')
        </if>
        <!-- 정렬조건 -->
        <if test="orderBy != 'none'">
            ORDER BY ${orderBy} ${orderByDir}
        </if>
    </select>
    
    <insert id="insertFile" parameterType="Board">
    	INSERT INTO files (file_id, file_name, board_id)
    	VALUES (#{fileId}, #{fileName}, #{id})
    </insert>

</mapper>